.site-header {
	background: rgba(0,0,0,0.8);
	height: 12rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	transition: all 0.3s;
	z-index: 99;
	
	@media (max-width : $laptop) {
	}
	
	.scrolled &{
		transform: translateY(-3.8rem);
		
		@media (max-width : $phablet) {
			transform: translateY(-6rem);
		}
	}
	
	
	.top-bar{
		background: #fff;
		font-family: $font-family-headline;
		font-size: 1.8rem;
		font-weight: 600;
		height: 3.8rem;
		line-height: 3.8rem;
		text-align: center;
		text-transform: uppercase;
		transition: opacity 0.3s;
		
		.scrolled &{
			opacity: 0;
		}
		
		@media (max-width : $desktop) {
			font-size: 1.6rem;
		}
		@media (max-width : $tablet) {
			font-size: 1.4rem;
		}
		@media (max-width : $phablet) {
			height: 6rem;
			line-height: 1.3;
			padding: 0.3rem 1rem;
		}
		
		a[href="tel"]{
			color: $red;
		}
		
		.bullet{
			display: inline-block;
			margin: 0 1.8rem;
			
			@media (max-width : $tablet) {
				margin: 0 1rem;
			}
			@media (max-width : $phablet) {
				display: block;
				height: 0;
				margin: 0;
				opacity: 0;
				overflow: hidden;
			}
		}
	}
	
	.container{
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 1rem 0 0 0;
		width: 90%;
	}
	
	.logo{
		display: block;
		float: left;
		margin-right: 3%;
		min-width: 6rem;
		width: 6rem;
			
		@media (max-width : $phablet) {
			min-width: 4rem;
			width: 4rem;
		}
		
		img{
			display: block;
			margin: 0;
			width: 100%;
			height: auto;
		}
	}
	
	
}

#large-nav-primary{
	float: right;
	width: 100%;
	
	@media (max-width : $mobile-nav-breakpoint) {
		display: none;
	}
	
	.menu{
		align-items: center;
		display: flex;
		font-family: $font-family-headline;
		font-size: 2rem;
		font-weight: 300;
		justify-content: space-between;
		line-height: 2;
		
		@media (max-width : $desktop) {
			font-size: 1.8rem;
		}
		
		> li{
			display: inline-block;
			position: relative;
			
			> a{
				white-space: nowrap;
				
				&[href="#"]{
					cursor: default;
				}
			}
			
			&:hover{
				.sub-menu{
					opacity: 1;
					max-height: 50rem;
					padding: 2rem;
				}
			}
			
			&.menu-item-has-children{
				&:hover{
					> a{
						color: $red;
					}
				}
			}
		}
	}
	
	a{
		color: #fff;
		text-decoration: none;
		
		&:hover{
			color: $red;
		}
	}
	
	.sub-menu{
		background: rgba($black, 0.8);
		font-size: 0.9em;
		line-height: 1.2;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0 2rem;
		position: absolute;
		top: 100%;
		left: 0;
		transition: all 0.3s;
		white-space: nowrap;
		
		li{
			display: block;
			
			+ li{
				margin-top: 1.5rem;
			}
		}
	}
}

#nav-toggle{
	display: none;
	
	@media (max-width : $mobile-nav-breakpoint) {
		border-bottom: 0.25rem solid #fff;
		border-top: 0.25rem solid #fff;
		color: #fff;
		display: block;
		float: right;
		font-family: $font-family-headline;
		font-size: 1.4rem;
		height: 3.3rem;
		text-transform: uppercase;
		width: auto;
		
		@media (max-width : $phablet) {
			//font-size: 1.6rem;
			//height: 3.2rem;
		}
	}
}

#ocn{
	background: $blue;
}

#ocn-top{
	margin-bottom: 1rem;
}

#ocn-brand{
	width: 10rem;
	
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

#ocn-nav-primary{
	font-family: $font-family-headline;
	
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		
		li{
		}
	}
	
	.sub-menu{
		background: rgba($black, 0.5);
		font-size: 0.8em;
		white-space: normal;
	}
	
	a{
		color: #fff;
		text-decoration: none;
		
		&:hover{
			color: $red;
		}
	}
}