body{
	color: $black;
	font-size: 1.9rem;
	padding-top: 18rem;
	
	
	@media (max-width : $laptop) {
		font-size: 1.7rem;
	}
	
	@media (max-width : $phablet) {
		padding-top: 16rem;
	}
}

.container{
	margin: 0 auto;
	max-width: 117rem;
	//width: 61%;
	width: 80%;
	
	/*@media (max-width : $fullsize) {
		width: 70%;
	}
	@media (max-width : 1500px) {
		width: 80%;
	}
	@media (max-width : $laptop) {
		width: 85%;
	}*/
}

h1,h2,h3,h4,h5{
	color: $blue;
	line-height: 1.2;
	margin: 2rem 0 1rem;
	
	strong{
		font-weight: 500;
	}
}

h1{
	color: $red;
	font-size: 5.1rem;
	font-weight: 300;
	margin: 0 0 3rem 0;
	text-transform: uppercase;
	
	@media (max-width : $desktop) {
		font-size: 4rem;
	}
	@media (max-width : $phablet) {
		font-size: 3rem;
	}
}

h2{
	font-size: 3.2rem;
	font-weight: 400;
	
	@media (max-width : $desktop) {
		font-size: 3rem;
	}
	@media (max-width : $tablet) {
		font-size: 2.8rem;
	}
	@media (max-width : $phablet) {
		font-size: 2.5rem;
	}
}

h3{
	font-size: 2.3rem;
	
	@media (max-width : $tablet) {
		font-size: 2.1rem;
	}
	@media (max-width : $phablet) {
		//font-size: 2rem;
	}
}

p{
	margin: 0 0 2.5rem 0;
}

.hentry{
	ul,ol{
		margin-bottom: 2.5rem;
	}
	li{
		margin: 1rem 0;
	}
}


a{
	color: $red;
	text-decoration: none;
	transition: color 0.2s;
	
	&:hover{
		color: $black;
	}
}

.button{
	background: $red;
	border-radius: 0.3rem;
	box-shadow: 0 3px 0 #ac181f;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 2.7rem 4.8rem;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s;
	
	@media (max-width : $phablet) {
		padding: 2rem 3rem;
	}
	
	&:hover{
		background: $black;
		box-shadow: 0 3px 0 rgba(0,0,0,1);
		color: #fff;
	}
	
	&.ghost{
		background: #fff;
		//border: 3px solid $red;
		box-shadow: 0 3px 0 #ccc;
		color: $red;
	
		&:hover{
			background: $black;
			box-shadow: 0 3px 0 #000;
			color: #fff;
		}
	}
}
